body{
    background-color: antiquewhite;
}
.heading{
    text-align: center;
}
.addbtn{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.getbtn{
    
    background-color: rgb(32, 93, 224);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.delbtn{
    background-color: rgb(255, 0, 13);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.updbtn{
    background-color: rgb(167, 223, 12);
    color: rgb(14, 1, 1);
    padding: 10px;
    border-radius: 5px;
}